# Database configuration
DATABASE_URL=hatetepe'es://db(bahlilgantengwirrrrrserrrrahhhhhhhhhhhhhh)
# SELAMAT KAMU KENA TIPU CIKIWIIRRRRRRRRR
# CURI CURI CURI DONG KEWERRR KEWERRRRRRR
# BE EBE G OGO BEGO 